<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Libre</title>
</head>

<body class="home">
    <header>
        <div class="cajaC">
            <div class="cajaB">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo" title="logo de mercado libre">
                </div>
                <div class="buscador">
                    <input type="text" placeholder="buscar productos, marcas"><a class="seach-button" href=""><i
                            class="fab fa-sistrix"></i></a>
                </div>
            </div>
            <div class="compra">
                <p><i class="fas fa-hand-holding-usd"></i> comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <div class="cajaD">
                <ul class="nav-o">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tienda Oficiales</a></li>
                    <li><a href="">Verder</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="login">
                    <li><a href="">Crea tu Cuenta</a> <i class="far fa-address-card"></i></li>
                    <li><a href="">Ingresa</a> <i class="fas fa-share-square"></i></li>
                    <li><a href=""></i>Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
            </div>
            <div class="menu"><i class="fas fa-align-justify"></i></div>

        </nav>
    </header>


    <main>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </div>
        <div class="vista">
            <h3>Basado en tu última vista</h3>
        </div>
        <section>
            <article>
                <div class="container0">
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" title=" Cafetera Moulinex">
                    <div class="caja1">
                        <i class="fas fa-truck-moving"></i>
                        <div class="cajaA">
                            <h5>$6.770</h5>
                            <p>40% off</p>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
            </article>

            <article>
                <div class="container0">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook" title="Macbook Pro 2019">
                    <div class="caja2">
                        <i class="fas fa-truck-moving"></i>
                        <div class="cajaA">
                            <h5>$230.000</h5>
                            <p>20% off</p>
                        </div>
                        <h4>Macbook Pro 2019</h4>
                    </div>
            </article>

            <article>
                <div class="container0">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung" title="Samsung Galaxi S10">
                    <div class="caja3">
                        <i class="fas fa-truck-moving"></i>
                        <div class="cajaA">
                            <h5>$70.500</h5>
                            <p>10% off</p>
                        </div>
                        <h4>Samsung Galaxy S10</h4>
                    </div>

            </article>

            <article>
                <div class="container0">
                    <img src="images/img-tv-samsung-smart.jpg" alt="smart">
                    <div class="caja4">
                        <i class="fas fa-truck-moving"></i>
                        <div class="cajaA">
                            <h5>$23.200</h5>
                            <p>5% off</p>
                        </div>
                        <h4>Smart Tv Samsung 43"</h4>
                    </div>
            </article>
        </section>
        <div class="vista">
            <h3>Ofertas</h3>
        </div>
        <section>
            <article>
                <div class="container0">
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" title=" Cafetera Moulinex">
                    <div class="caja1">
                        <i class="fas fa-truck-moving"></i>
                        <div class="cajaA">
                            <h5>$6.770</h5>
                            <p>40% off</p>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
            </article>

            <article>
                <div class="container0">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook" title="Macbook Pro 2019">
                    <div class="caja2">
                        <i class="fas fa-truck-moving"></i>
                        <div class="cajaA">
                            <h5>$230.000</h5>
                            <p>20% off</p>
                        </div>
                        <h4>Macbook Pro 2019</h4>
                    </div>
            </article>

            <article>
                <div class="container0">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung" title="Samsung Galaxi S10">
                    <div class="caja3">
                        <i class="fas fa-truck-moving"></i>
                        <div class="cajaA">
                            <h5>$70.500</h5>
                            <p>10% off</p>
                        </div>
                        <h4>Samsung Galaxy S10</h4>
                    </div>

            </article>

            <article>
                <div class="container0">
                    <img src="images/img-tv-samsung-smart.jpg" alt="smart">
                    <div class="caja4">
                        <i class="fas fa-truck-moving"></i>
                        <div class="cajaA">
                            <h5>$23.200</h5>
                            <p>5% off</p>
                        </div>
                        <h4>Smart Tv Samsung 43"</h4>
                    </div>
            </article>
        </section>

    </main>

    <footer>
        <section>
            <div class="iconos">
                <p><i class="fas fa-money-check"></i></p>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Libre Cash,tenés cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y siempre es
                seguro!</p>
            <div class="iconos">
                <p><i class="fas fa-gift"></i></p>
            </div>
            <h3>Envío gratis desde los $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Libre tenés envios gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
            <div class="iconos">
                <p><i class="fas fa-user-shield"></i></p>
            </div>
            <h3>seguridad, de principio a fin</h3>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>

            <p>copyright © 1999-2020 MercadoLibre S.R.L</p>
        </section>
    </footer>
</body>

</html>
</body>

</html>